<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Trainer Registration</title>
    <style>
      * {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form action="/register" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <br />
      <label for="trainer">Trainer name:</label>
      <input type="text" name="name" required /> <br />
      Trainer name format is, Trainer (name)
      <br />
      <label for="apikey">API key:</label>
      <input type="text" name="apikey" required />
      <br />
      <label for="admin">Admin Password:</label>
      <input type="text" name="admin" required />
      <br />
      <a href="http://"></a>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
